<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel = "stylesheet" href = "style.css">
    
</head>
<body>
    <header>
        <div id = "div1">
        <a id = "a1" href="amazon.in">amazon.in</a>
        <a id = "a2" href="Account">Account</a>
        <a id = "a3" href="MyCart">My Cart</a>
        <a id = "a4" href="Contact us">Contact us </a>
        <input type="text" placeholder="search Amazon.in">
        <button>search</button>
        </div>

    </header>
    <br>
    <br>

    <div id = "main">
    <div class ="d2" style="background-color: rgba(255,0,0,0.5);">Buy Your Favorite Soap</div>
    <div class ="d2"  style="background-color:  rgba(0,255,0,0.5)">Buy Your Favorite Car</div>
    <div class="d2" style="background-color: rgba(0,0,255,0.5)">Buy Your Favorite Watch </div>
    </div>
    <br>
    <br>
    
    
    <br>
    <br>

    <footer>
        Made with &hearts; by Amazon<br>
        &#169; 1996-2023,Amazon.com,Inc. or its affiliates

    </footer>

    
</body>
</html>