*{
    padding: 0%;
    margin: 0%;
    color: white;
}
#a1{
    color: orange;
    font-size: 25px;
}
a{
    margin-right: 200px;
    text-decoration: none;
}
button{
    background-color: orange;
}
#div1{
    background-color: black;
}
#main{
    height: 720px;

}
.d2{
     height: 100px;
    width: 100px;
    border: 2px,dashed,black;
    display: inline-block;
    
}



footer{
    color: white;
    background-color: black;
    text-align: center;
}

