*{
    margin: 0;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
    border: border-box;
}

.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
}


.logo{
    height: 50px;
    background-image: url("amazon_logo.png");
    width: 100%;
    background-size: cover;
}
.nav-logo{
    height: 50px;
    width: 100px;
}


